

<div class="container">
  <h2 class="title">Our Specialities</h2>

  <div class="search-box">
    <div class="field">
      <label>Doctor Name</label>
      <input type="text" [(ngModel)]="doctorName" />
    </div>

    <div class="field">
      <label>Department Name</label>
      <select [(ngModel)]="department" (change)="searchDoctor()">
        <option value="">Select</option>
        <option  *ngFor=" let dept of departments" [value]="dept.name">
          {{dept.name}}
        </option>
      </select>
    </div>

    <button (click)="searchDoctor()">Search</button>
  </div>

 <!-- Result of after serch -->
  <div class="result" *ngFor="let dept of filteredDepartments">
    <h3 class="dept-title">{{dept.name}}</h3>

    <div class="card" *ngFor="let doc of dept.doctors">
      <div class="img-box">
        <span>Doctor Image</span>
      </div>

      <div class="info">
        <p class="name">{{doc.name}}</p>
        <p class="degree">{{doc.degree}}</p>
      </div>
    </div>
  </div>
</div>
<p class="noRecord" *ngIf="filteredDepartments.length === 0">
  No doctors found
</p>